{% extends "base.html" %}

{% block content %}

{% if current_user.usertype == 'mentee' %}
	{% include "mentee/navbar.html" %}
{% endif %}

{% if current_user.usertype == 'editor' %}
	{% include "editor/navbar.html" %}
{% endif %}

<br><br>

<center>
	<h3 class="title is-3">Frequently Asked Questions</h3>
	<hr>
	<div style="width: 50vw; background-color: rgb(224, 225, 230); border-radius: 10px;">
		<br><br>
		<h3 class="title is-5">Put some stuff here!</h3>
		<br>
	<div>
</center>

{% endblock %}